In [ ]:
# https://www.geeksforgeeks.org/how-to-compare-two-columns-in-pandas/

In [ ]:
# Syntax: numpy.where(condition[,x, y])
# Parameters:
# condition : When True, yield x, otherwise yield y.
# x, y : Values from which to choose.

In [3]:
# Importing Libraries
import pandas as pd
import numpy as np

# data's stored in dictionary
details = {'Column1': [1, 2, 30, 4],'Column2': [7, 4, 25, 9],'Column3': [3, 8, 10, 30]}

# creating a Dataframe object
df = pd.DataFrame(details)

# Where method to compare the values
# The values were stored in the new column
df['new'] = np.where((df['Column1'] <= df['Column2']) & (df['Column1'] <= df['Column3']), df['Column1'], np.nan)

In [4]:
df

   Column1  Column2  Column3  new
0        1        7        3  1.0
1        2        4        8  2.0
2       30       25       10  NaN
3        4        9       30  4.0

In [12]:
# importing libraries
import pandas as pd

# Storing data in dictionary
details = {'Column1': [1, 2, 3, 4],'Column2': [7, 4, 25, 9],'Column3': [3, 8, 10, 30],'Column4': [7, 4, 25, 9],}

# creating a Dataframe object
df = pd.DataFrame(details)
# df['Column1'].equals(df['Column2']) Returns False

In [13]:
df['Column4'].equals(df['Column2']) # Returns True

True

In [11]:
df

   Column1  Column2  Column3  Column4
0        1        7        3        7
1        2        4        8        4
2        3       25       10       25
3        4        9       30        9